{% extends "vacation_rental/base.html" %}
{% block content %}
{% load static %}

<div class="container">

  <h1 class="my-4 text-center text-lg-left">Photo Gallery</h1>
  <h4 class="my-4 text-center text-lg-left">Click to enlarge</h4>

  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="{% static 'vacation_rental/gallery/beachside_house.jpeg' %}" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid" src="{% static 'vacation_rental/gallery/beachside_house.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/backside_house.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/living_room.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/living_room_2.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/bedroom_2.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/bedroom_3.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/bathroom_1.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/bedroom_loft.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/hangers.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/kitchen.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/chairs.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/deck_with_table.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/view_from_deck.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/view_from_deck_2.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/sunset_1.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/sunset_2.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/rainbow.jpeg' %}" alt="">
      </a>
    </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/tallgrass.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/sealion.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/bird.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/bedroom_1.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/gate_to_beach.jpeg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" data-toggle="lightbox" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'vacation_rental/gallery/bathroom_2.jpeg' %}" alt="">
      </a>
    </div>
  </div>

</div>

{% endblock content %}
