{% extends "vacation_rental/base.html" %}
{% block content %}

<header>
  <!-- Picture Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
    <!-- Slide One below -->
    {% load static %}
      <div class="carousel-item" style="background-image: url({% static 'vacation_rental/carousel/deck.png' %})">
          <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Book Now</a></p>
          </div>
      </div>
      <!-- Slide Two below -->
      <div class="carousel-item active" style="background-image: url({% static 'vacation_rental/carousel/fornow.png' %})">
          <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Book Now</a></p>
          </div>
      </div>
      <!-- Slide Three below -->
      <div class="carousel-item" style="background-image: url({% static 'vacation_rental/carousel/branch.png' %})">
          <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Book Now</a></p>
          </div>
      </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</header>
<body>

<!-- About the property -->
<section class="py-5">
  <div class="container">
    <h2>About the property</h2>
    <!-- Amenity Icons -->
      <div class='row'>
        <div class="col-lg-12">
        </div>
        <div class="amenity-detail col-sm-2">
          <div class="amenity-icon">
            <i class="fa fa-bath fa-2x" aria-hidden="true"></i>
          </div>
          <div class="amenity-title">
            Bathrooms
          </div>
          <div class="amenity-value">
            2
          </div>
      </div>
      <div class="amenity-detail col-sm-2">
          <div class="amenity-icon">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
          </div>
          <div class="amenity-title">
            House
          </div>
          <div class="amenity-value">
            1,500 sqft
          </div>
      </div>
      <div class="amenity-detail col-sm-2">
          <div class="amenity-icon">
            <i class="fa fa-bed fa-2x" aria-hidden="true"></i>
          </div>
          <div class="amenity-title">
            Bedrooms
          </div>
          <div class="amenity-value">
            3
          </div>
      </div>
      <div class="amenity-detail col-sm-2">
          <div class="amenity-icon">
            <i class="fa fa-users fa-2x" aria-hidden="true"></i>
          </div>
          <div class="amenity-title">
            Sleeps
          </div>
          <div class="amenity-value">
            6
          </div>
      </div>
            <div class="amenity-detail col-sm-2">
          <div class="amenity-icon">
            <i class="fa fa-moon-o fa-2x" aria-hidden="true"></i>
          </div>
          <div class="amenity-title">
            Minimum Stay
          </div>
          <div class="amenity-value">
            2 Nights
          </div>
      </div>
    </div>
    <br>
    <div class="row">
      <p>At 'Daybreak on Sunset' enjoy the beautiful panoramic views of the ocean while you are relaxing in our beachfront home anytime of the year. You are steps away from having sand in your toes and enjoying everything the beach has to offer. Bask in the scenery of the rolling waves, looking through our large windows or out on the wrap around oceanside deck. We have the NFL Package and offer ALL of the premium channels through the middle of January.</p>
    </div>
    <!-- About Accordion -->
    <div id="exampleAccordion" data-children=".item">
      <div class="item">
        <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" role="button" aria-expanded="true" aria-controls="exampleAccordion1" class='collapse_btn'>
          Read more
        </a>
        <div id="exampleAccordion1" class="collapse" role="tabpanel">
          <p class="mb-3"><br>
            Daybreak on Sunset is wonderful for a girls getaway, celebrating special occasions or just getting out of town to relax after a hard work week with the ones you love. There are no roads to cross, and just a few private steps down off the deck until you are walking on the beach.</p>
            <p>Gorgeous views on an unspoiled quiet beach are ready for your enjoyment.</p>
            <p>Daybreak on Sunset can comfortably sleep 1-6 people. Upstairs you will have a breathtaking view from our large master loft bedroom with a queen bed with a full bathroom. Downstairs there are two bedrooms and a full bathroom. One room has a queen size bed, while the other has a full size bed along with a twin bed.</p>
            <p>Keywords: Beachfront, Oceanfront, Custom Beach Home, Ocean View, Beach View, Clams, Clean, Girls Getaway, Quiet, Comfortable
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>

<div class="container">
  <!-- Portholes -->
  <div class="row">
    <div class="col-lg-12">
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a href="{% url 'gallery' %}"><img class="rounded img-fluid d-block mx-auto" src="{% static 'vacation_rental/carousel/arch.png' %}" alt="" width="200" height="200"></a>
      <h3>Gallery
      </h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded img-fluid d-block mx-auto" src="{% static 'vacation_rental/carousel/cal.png' %}" alt="" width="200" height="200">
      <h3>Check Availability
      </h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded img-fluid d-block mx-auto" src="{% static 'vacation_rental/carousel/map.png' %}" alt="" width="200" height="200">
      <h3>Location
      </h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
  </div>
</div>

<hr>

<!-- Amenities Section -->
<div class='container'>
  <a name="amenities"><h2>Amenities</h2></a>
  <div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-3 wrapper'>
      <ul>
        <li>Kitchen</li>
        <li>Wifi</li>
        <li>Washer/Dryer</li>
        <li>Cable TV</li>
        <li>Outdoor Grill</li>
      </ul>
    </div>
    <div class='col-lg-3 wrapper'>
      <ul>
        <li>Free Parking</li>
        <li>Patio/Deck</li>
        <li>Fireplace</li>
        <li>Beach Access</li>
        <li>Panaramic View</li>
      </ul>
    </div>
    <div class='col-lg-3 wrapper'>
      <ul>
        <li>Hangers</li>
        <li>Alarm Clock</li>
        <li>Coffee Maker</li>
        <li>Beds</li>
      </ul>
    </div>
  </div>
  <!-- Amenities Accordion -->
  <div id="exampleAccordion" data-children=".item">
    <div class="item">
      <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" role="button" aria-expanded="true" aria-controls="exampleAccordion2" class='collapse_btn'>
        See all amenities
      </a>
      <div id="exampleAccordion2" class="collapse" role="tabpanel">
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.
        </p>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Location -->
<div class='container'>
  <div class='row'>
    <div class='col-sm-8'>
      <iframe
        width="700"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBQvReCLFqdCNehF9kicu8TrSDpYHcIgUU&center=47.234236, -124.210377&zoom=14" allowfullscreen>
      </iframe>
    </div>
    <div class="col-sm-4">

      <a class="btn btn-primary contact-btn" href="{% url 'contact' %}" role="button">
        <h2>Contact Us</h2>
      </a>
      <address>
        <strong>Daybreak on Sunset</strong>
        <br>P.O.Box 422
        <br>Moclips, WA. 98562
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (206) 697-1000
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">dbrate2@yahoo.com</a>
      </address>
    </div>
  </div>
</div>

</body>

{% endblock content %}