.book-btn {
    border-radius: 6px;
    color: black !important;
}

hr {
    width: 90%;
    margin-bottom: 4rem;
}

ul {
    text-align: center;
    list-style-type: none;
}

.collapse_btn {
    /*font-size: 1.2rem;*/
    text-decoration: underline;
}

h2 {
    margin-bottom: 1.2rem;
    color: #ffc107;
}

.amenity-icon {
    color: #007aff;
}

address {
/*margin-left: 6rem;*/
}

#daybreak {
    font-family: 'Tangerine', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0;
}

.prefooter{
    height: 0.35rem;
    background-color: #BBDEFB;
}

.prefooter1 {
    height: 0.5rem;
    background-color: #64B5F6;
}

.prefooter2{
    height: 0.75rem;
    background-color: #2196F3;
}

footer {
    height: 8rem;
    background-color: #007bff;
}
